<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <springProperty scope="context" name="springAppName" source="spring.application.name"/>

    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <springProfile name="prod">
            <destination>fluentd:5000</destination>
        </springProfile>

        <springProfile name="!prod">
            <destination>localhost:5000</destination>
        </springProfile>

        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"application_name":"${springAppName}"}</customFields>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="LOGSTASH" />
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>